body {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  font-family: "Roboto", Calibri, sans-serif;
  font-weight: 100; /* to je přímo ten "Bold 700" */
  position: relative;
  font-size: 20px;
}

a {
  text-decoration: none;
}
h1,
h2 {
  font-family: "Roboto Slab", Calibri, sans-serif;
  font-weight: 700; /* to je přímo ten "Bold 700" */
  padding: unset;
  margin: unset;
}

h3,
h4,
h5,
h6 {
  font-family: "Roboto Slab", Calibri, sans-serif;
  font-weight: 400; /* to je přímo ten "Bold 700" */
  padding: unset;
  margin: unset;
}
body::before {
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../img/background.png");
  background-size: cover;
  background-position: center;
  z-index: -1;
  position: fixed;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1rem;
  background-color: #f9f9f9; /* pozadí navbaru */
  color: black;
  border-radius: 5px;
  position: relative; /* pro pozicování dropdown menu */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  width: 100%; /* Nastaví navbar na celou šířku obrazovky */
  box-sizing: border-box; /* Zajistí, že padding nebude přidávat šířku */
}

/* Odkazy v menu */
.nav-links {
  display: flex;
  gap: 0.5rem;
}

.nav-links a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  padding: 0.5rem;
  display: inline-block;
  background-color: #5481aa;
  transition-duration: 0.4s;
  border-radius: 5px;
}

.nav-links a:hover {
  background-color: #77afe0;
  border-radius: 5px;
}

.user-dropdown a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  padding: 0.5rem;
  display: inline-block;
  background-color: #5481aa;
  transition-duration: 0.4s;
  border-radius: 5px;
}

.user-dropdown a:hover {
  background-color: #77afe0;
  border-radius: 5px;
}

.mobile-menu a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  padding: 0.5rem;
  display: inline-block;
  background-color: #5481aa;
  transition-duration: 0.4s;
  border-radius: 5px;
  margin: 2px;
}

.mobile-menu :hover {
  background-color: #77afe0;
  border-radius: 5px;
}

.user-icon,
.hamburger {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

/* Styl pro oba menu (user dropdown a mobile menu) */
.user-dropdown,
.mobile-menu {
  display: none;
  position: absolute;
  background-color: #f9f9f9; /* Pozadí menu */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  width: 200px; /* Stejná šířka pro obě menu */
  top: 60px;
  left: 50%;
  transform: translateX(-50%); /* Zarovnáno na střed */
  padding: 1rem;
  z-index: 9;
  flex-direction: column;
  align-items: center; /* Zarovnání tlačítek na střed */
}

.hamburger {
  display: none;
  flex-direction: column;
  gap: 5px;
}

.hamburger div {
  width: 25px;
  height: 3px;
}

.user-icon {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #333;
  font-size: 18px;
}

@media (max-width: 768px) {
  /* Na mobilu chceme, aby byly odkazy skryté, když je hamburger menu zobrazeno */
  .nav-links {
    display: none;
  }

  /* Umožníme zobrazení hamburger ikony */
  .hamburger {
    display: flex;
    position: absolute;
    right: 1rem; /* Hamburger ikona na pravé straně */
  }

  /* Uživatelova ikona je vpravo vedle hamburgeru */
  .user-icon {
    order: 0;
    position: absolute;
    left: 1rem; /* Uživatelova ikona na levé straně na mobilu */
  }

  /* Zajistí, že navbar je stále flexibilní a ikony jsou v rámci navbaru */
  nav {
    flex-direction: row; /* Horizontální rozložení pro mobil */
    justify-content: space-between; /* Umožňuje oddělit ikony */
    width: 100%; /* Zajišťuje, že navbar zabírá celou šířku obrazovky */
    box-sizing: border-box; /* Zajistí, že padding nebude přidávat šířku */
  }
}

/* Zajištění, aby na desktopu byly odkazy vlevo a user ikona vpravo */
@media (min-width: 769px) {
  .user-icon {
    order: 1; /* User icon na pravé straně */
  }
  .nav-links {
    order: 0; /* Odkazy vlevo */
  }

  /* Zarovnání user dropdown menu pod ikonku na desktopu */
  .user-dropdown {
    left: auto;
    right: 0;
    transform: translateX(0);
    top: 75px;
  }
}

/* Ztmavení stránky */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none; /* Defaultně skryto */
  z-index: 8;
}

table {
  width: 100%;
  border-collapse: collapse;
}

.blue {
  color: #5481aa;
}

.success-message {
  background-color: #70b95e;
  color: #ffffff;
  border: none;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 4px;
}

.error-message {
  background-color: #ff4848;
  color: #ffffff;
  border: none;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 4px;
}

.info-message {
  background-color: #5481aa;
  color: #ffffff;
  border: none;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 4px;
}

#container {
  text-align: center;
}

#calendar {
  width: 80%;
  background-color: #ffffffcc;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 10px;
  height: 20%;
  overflow: hidden;
  white-space: normal;
}

#qrcode img {
  width: 100%;
  max-width: 25%; /* Maximální velikost, uprav podle potřeby */
  height: auto;
}

select {
  width: 100%;
  padding: 8px;
  border: none;
  border-radius: 4px;
  background-color: #fff;
  font-size: 14px;
  cursor: pointer;
}

select:focus {
  outline: none;
  border-color: #5481aa;
  box-shadow: 0 0 5px #27a1ffd5;
}

a {
  display: block; /* Odkaz zabere celou šířku */
  word-wrap: break-word; /* Zalamování dlouhého textu */
  overflow-wrap: break-word;
  max-width: 100%; /* Nevyjede z divu */
}

.table-heading {
  color: #333;
  font-family: sans-serif;
  font-size: 24px;
  text-decoration: bold;
  margin-top: 5px;
  margin-bottom: 5px;
}

.button-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.button-container button {
  background-color: #5481aa;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: "Roboto", Calibri, sans-serif;
  font-weight: 100; /* to je přímo ten "Bold 700" */
  font-size: 16px;
  font-family: sans-serif;
  transition-duration: 0.4s;
  font-family: "Roboto", Calibri, sans-serif;
}

iframe {
  border-radius: 50px;
}

.button-container button:hover {
  background-color: #77afe0;
}

#loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #3e6182c9;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.loader {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: conic-gradient(#aad4f3 10%, #5481aa);
  -webkit-mask: radial-gradient(
    farthest-side,
    var(--color-0) calc(100% - 16px),
    var(--color-0) 0
  );
  animation: s3 1s infinite linear;
}
@keyframes s3 {
  to {
    transform: rotate(1turn);
  }
}

#footer-text.visible {
  opacity: 1;
}

#footer-text {
  opacity: 1;
}

#responsive-image {
  margin: 5px;
  width: 15%;
  border-radius: 3%;
}

@media (max-width: 767px), (max-width: 560px) {
  #responsive-image {
    width: 100%;
    height: auto;
  }
}

@keyframes spin {
  0% {
    transform: rotate(360deg);
  }

  100% {
    transform: rotate(0deg);
  }
}
